.piedpage {
	background-color: #3E3831;
	color:white;
	padding: 5px 0px;
	background-size: cover;
	background-position: center;
}

.piedpage h1 {
	font-size: 50px;
	text-align: center;
}

.piedpage p {
	font-size: 20px;
	margin-left: 20px;
	margin-top: -40px;
}


.piedpage a {
	text-decoration: none;
	color:#EBD2C7;
}